# unit 01
---

Date: 2017-02-09

In [2]:
# sum_square -> find square of sum of two numbers
54 + 73

127

In [3]:
127 ** 2

16129

In [12]:
first_num = 59
second_num = 87

In [13]:
square_of =(first_num + second_num)** 2

In [14]:
print(square_of)

21316

python automatically converts **integers** ( like *2* and *3* above ) to **float** ( like *3.14* ) such conversion are called type conversion or ( **type casting** )

In [27]:
name = 'Harry potter'

In [28]:
address = "London"

In [29]:
name + address

'Harry potterLondon'

adding two string together is called **concatentation**

In [33]:
name * 4

'Harry potterHarry potterHarry potterHarry potter'

Incase string __*__  is called *repitition operator*

In [34]:
78 -90

-12

In [35]:
# Division 
2/3

0.6666666666666666

Real Division

In [36]:
2//3

0

- Integer Division

In [37]:
float (2)

2.0

- Explicit conversion

In [38]:
8 % 3

2

** H/W **
- Addition
- Subtraction 
- Division
     - Float
     - Integer
- Remainder    
- Power